<!-- <p style="margin-top: 125px">home works!</p> -->
<carousel>
  <slide>
    <img
      src="https://picsum.photos/800/400?image=100"
      alt="Random first slide"
    />
  </slide>
  <slide>
    <img
      src="https://picsum.photos/800/400?image=200"
      alt="Random second slide"
    />
  </slide>
  <slide>
    <img
      src="https://picsum.photos/800/400?image=300"
      alt="Random third slide"
    />
  </slide>
</carousel>

<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the shop!</h1>
  </div>
</section>
