<div class="form-bg">
  <div class="container">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <div class="form-container">
          <h3 class="title">Login</h3>
          <ul class="social-links">
            <li>
              <a href=""><i class="fab fa-google"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
          <!-- <span class="description">or use you email for registration:</span> -->
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="form-horizontal"
          >
            <app-text-input
              formControlName="email"
              [label]="'Email address'"
              [type]="'email'"
            ></app-text-input>

            <app-text-input
              formControlName="password"
              [label]="'Password'"
              [type]="'password'"
            ></app-text-input>
            <button [disabled]="loginForm.invalid" class="btn signin">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
