<div class="container mt-2">
  <div *ngIf="(cart$ | async) === null">
    <p>Cart is empty</p>
  </div>
  <div *ngIf="cart$ | async">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <app-basket-summary
              (addItem)="incrementItemQuantity($event)"
              (decreaseItemQuantity)="decrementItemQuantity($event)"
              (removeItem)="removeCartItem($event)"
            ></app-basket-summary>
          </div>
          <div class="col-md-4">
            <app-order-totals></app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-outline-primary py-2 px-3 btn-block"
            >
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
