<div class="card shadow-sm mb-2">
  <img
    src="{{ product.imageUrl }}"
    alt="{{ product.name }}"
    class="img-fluid"
  />
  <div class="card-body">
    <a class="h5 card-text product-name">
      {{ product.name }}
    </a>
    <p class="card-text text-muted producct-desc">
      {{ product.description }}
    </p>
    <div class="">
      <div>
        <button type="button" class="btn btn-sm btn-outline-primary fa fa-shopping-cart add-button">
        </button>
        <button type="button" class="btn btn-sm btn-outline-buynow buy-button float-end">
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
