<!-- <div class="header2 bg-success-gradiant fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg h2-nav">
      <a class="navbar-brand ms-4" routerLink="">BBB</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#header2"
        aria-controls="header2"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon-menu"></span>
      </button>
      <div
        class="collapse navbar-collapse hover-dropdown row mt-1"
        id="header2"
      >
        <ul class="navbar-nav col-md-10">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown position-relative">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/shop"
              id="h2-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Product <i class="fa fa-angle-down ml-1 font-12"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider" role="separator"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
              <li class="divider" role="separator"></li>
              <li>
                <a class="dropdown-item" href="#">One more separated link</a>
              </li>
              <li class="dropdown-submenu position-relative">
                <a
                  class="dropdown-toggle dropdown-item"
                  data-toggle="dropdown"
                  href="#"
                  >Dropdown
                  <i class="fa fa-long-arrow-right float-right mt-1"></i
                ></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li class="dropdown-submenu position-relative">
                    <a
                      class="dropdown-toggle dropdown-item"
                      href="#"
                      data-toggle="dropdown"
                      >Dropdown
                      <i class="fa fa-long-arrow-right float-right mt-1"></i
                    ></a>
                    <ul class="nav navbar-nav dropdown-menu">
                      <li class="dropdown-submenu position-relative">
                        <a
                          class="dropdown-toggle dropdown-item"
                          href="#"
                          data-toggle="dropdown"
                          >Dropdown
                          <i class="fa fa-long-arrow-right float-right mt-1"></i
                        ></a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li>
                            <a class="dropdown-item" href="#">Another action</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Something else here</a
                            >
                          </li>
                          <li class="divider" role="separator"></li>
                          <li>
                            <a class="dropdown-item" href="#">Separated link</a>
                          </li>
                          <li class="divider" role="separator"></li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >One more separated link</a
                            >
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav col-md-2">
          <li class="nav-item position-relative">
            <a
              routerLink="/basket"
              class="nav-link"
              *ngIf="cart$ | async as cart"
            >
              <i class="fa-solid fa-cart-shopping"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                {{ cart?.items?.length <= 9 ? cart?.items?.length : "9+" }}
              </span>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="#">SignUp</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->

<header
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top"
>
  <img
    src="/assets/images/logo.png"
    style="max-height: 70px"
    alt="logo"
    class="logo"
    routerLink="/"
  />
  <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger">
    <a
      class="p-2"
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div *ngIf="cart$ | async as basket" class="cart-no">
        {{ basket.items.length <= 9 ? basket.items.length : "9+" }}
      </div>
    </a>

    <ng-container>
      <!-- <ng-container *ngIf="(currentUser$ | async) === null"> -->
      <a
        routerLink="/account/login"
        class="btn btn-outline-secondary mr-2"
        href="#"
        >Login</a
      >
      <a
        routerLink="/account/register"
        class="btn btn-outline-secondary mr-3"
        href="#"
        >Sign up</a
      >
    </ng-container>
    <!-- <ng-container *ngIf="currentUser$ | async as user"> -->
    <ng-container>
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <!-- <strong>Welcome {{ (currentUser$ | async).displayName }}</strong> -->
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          style="cursor: pointer"
          *dropdownMenu
        >
          <a
            routerLink="/basket"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-shopping-cart mr-3"></i> View Basket
          </a>
          <a
            routerLink="/orders"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-history mr-3"></i> View Orders
          </a>
          <div class="dropdown-divider"></div>
          <!-- <a
            (click)="logout()"
            class="dropdown-item d-flex align-items-center py-2"
          >
            <i class="fa fa-sign-out mr-3"></i> Logout
          </a> -->
          <a class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3"></i> Logout
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</header>
